<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.organizationofthefestival">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".leader.ViewEventActivity"></activity>
        <activity android:name=".leader.LeaderMyEventsActivity" />
        <activity android:name=".leader.ApproveOrganizersActivity" />
        <activity android:name=".leader.LeaderPrintPassActivity" />
        <activity android:name=".leader.MyFestivalsActivity" />
        <activity android:name=".leader.LeaderFestivalActivity" />
        <activity android:name=".worker.JobProfileActivity" />
        <activity android:name=".worker.ViewApplicationActivity" />
        <activity android:name=".worker.ActiveJobsActivity" />
        <activity android:name=".worker.MyApplicationsActivity" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".worker.JobApplicationActivity" />
        <activity android:name=".worker.JobApplyActivity" />
        <activity android:name=".worker.JobOffersActivity" />
        <activity
            android:name=".worker.SpecializationsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".leader.LeaderActivity" />
        <activity android:name=".worker.WorkerActivity" />
        <activity android:name=".organizer.OrganizerActivity" />
        <activity android:name=".organizer.EventsActivity" />
        <activity android:name=".organizer.JobsActivity" />
        <activity android:name=".organizer.PrintPassActivity" />
        <activity android:name=".admin.AdminActivity" />
        <activity android:name=".organizer.ApplyFestActivity" />
        <activity android:name=".signup.SignupActivity" />
        <activity android:name=".leader.LeaderJobAuctionsActivity" />
        <activity android:name=".festival.creation.CreateFestivalActivity" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".defaultUser.DefaultUserActivity" />
        <activity android:name=".festival.Event.CreateEventActivity" />
        <activity android:name=".event.creation.CreateEventActivity" />
    </application>

</manifest>